/* Configurações de variáveis CSS para cores, fontes e tamanhos */
:root {
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --accent-font: 'Dancing Script';

  /* Gradiente de fundo */
  --background-start: #190361;
  --background-end: #BB00FF;

  --text-color: #34355B;
  --shadow-color: rgba(0, 0, 0, 0.8);
  --message-background: #E4EDF1;
  --button-background: #FF9500;
  --button-text-color: #FFFFFF;

  /* Tamanhos de fonte base */
  --font-size-base: 1.6rem;
  --font-size-h1: 2.4rem;
  --font-size-h2: 2.4rem;
  --font-size-p: 1.5rem;

  /* Define o tamanho da fonte base para 62.5% para facilitar o uso de rem */
  font-size: 62.5%;
}

/* Estilos globais para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos para o corpo da página */
body {
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  background: linear-gradient(45deg, var(--background-start) 0%, var(--background-end) 100%);
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--text-color);

  /* Animação de gradiente de fundo */
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

/* Classe para esconder elementos */
.hide {
  display: none;
}

/* Estilos para o container principal */
main {
  width: min(42.8rem, 90%);
  background: #FFFFFF;
  box-shadow: 0px 20px 50px var(--shadow-color);
  border-radius: 5px;
  padding: 4.8rem 6.4rem 6.4rem;
}

/* Estilos para títulos h1 e h2 */
h1,
h2 {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: var(--font-size-h1);
  line-height: 2.9rem;
  margin-bottom: 1.4rem;
}

/* Estilo para parágrafos na tela inicial */
#initial-screen p {
  font-weight: 400;
  font-size: var(--font-size-p);
  line-height: 2rem;
  margin-bottom: 2rem;
}

/* Animação de tremor para a imagem do cookie */
#cookie-image:hover {
  animation: shake 0.7s ease-in-out infinite;
  cursor: pointer;
}

/* Animação para a caixa de mensagem */
#message-screen #message-box {
  transform: translateY(17rem) scale(0.1);
  opacity: 0.7;
  animation: down-up 1.7s ease forwards;
}

/* Estilos para o parágrafo da mensagem */
#message-screen p {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--font-size-h2);
  line-height: 2.9rem;
  background: var(--message-background);
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  padding: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 1.7rem;
  animation: growing-message 0.5s ease forwards;
}

/* Estilos para botões */
button {
  margin-top: 1.7rem;
  color: var(--button-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-p);
  line-height: 2rem;
  padding: 1.6rem;
  background: var(--button-background);
  border-radius: 4px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

/* Animação de tremor */
@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Animação de entrada da mensagem */
@keyframes down-up {
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* Animação de crescimento da mensagem */
@keyframes growing-message {
  /* Adicione estilos para a animação de crescimento da mensagem */
}

/* Animação de gradiente de fundo */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Estilos para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {

  /* Define variáveis de tamanho de fonte para diferentes elementos */
  :root {
    --font-size-h1: 1.5rem;
    /* Tamanho de fonte para títulos H1 */
    --font-size-h2: 1.3rem;
    /* Tamanho de fonte para títulos H2 */
  }

  /* Ajusta o padding da área de conteúdo principal */
  main {
    padding: 5% 7%;
  }
}

/* Estilos para telas menores que 480px (Smartphone) */
@media (max-width: 480px) {

  /* Ajusta ainda mais os tamanhos de fonte para legibilidade */
  :root {
    --font-size-h1: 1.2rem;
    --font-size-h2: 1.1rem;
  }

  /* Reduz o espaçamento abaixo dos títulos para economizar espaço vertical */
  h1,
  h2 {
    margin-bottom: 0.5rem;
  }

  /* Ajusta o tamanho da fonte para parágrafos e botões na área de mensagens */
  #message-screen p,
  button {
    font-size: var(--font-size-p);
  }
}